.cupcake-form {
    background-color: antiquewhite;
    width: 100%;
    margin-bottom: 1em;
}

.form-buttons {
    margin-top: 1em;
    padding-bottom: 1em;
}

.cupcakepic {
    max-width: 100px;
    max-height: 100px;
}