{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<h2>Cupcake Inventory</h2>
<ul>
    
</ul>

<div>
    <form action="" method="POST">
        <label for="flavor">Flavor:  <input name="flavor" type="text"></label>
        <label for="size">Size:  <input name="size" type="text"></label>
        <label for="rating">Rating:  <input name="rating" type="text"></label>
        <label for="image">Image:  <input name="image" type="text"></label>   
           
    </form>
    <button type="submit">Submit</button> 
    <button type="reset">Reset Form</button>
</div> 
    

{% endblock %}